    body {
      font-family: 'Inter', sans-serif;
      background-color: #FFFFFF;
      color: #1F1F1F;
      scroll-behavior: smooth;
    }

    .content-wrapper {
      max-width: 1040px;   /* atur sesuai selera */
      margin: 0 auto;
      padding: 0 15px;     /* jaga jarak kiri kanan */
    }

    .navbar-brand {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .nav-link {
      color: #1F1F1F !important;
      font-weight: 500;
      margin: 0 10px;
    }

    .logo-porto {
        color: #1F1F1F;
        font-weight: 700;
    }

    .logo-folio {
        color: #C4C4C4;
        font-weight: 700;
        transition: color 0.3s ease;
    }

    .logo-dot {
        color: #1F1F1F;
        font-weight: 700;
    }

    /* Hover effect hanya untuk "folio" */
    .navbar-brand:hover .logo-folio {
        color: #1F1F1F;
    }

    .nav-link {
        color: #1F1F1F !important;
        font-weight: 500;
        margin: 0 10px;
        padding: 6px 18px;
        border-radius: 30px;
        transition: all 0.3s ease;
    }

    /* Hover effect navbar tengah */
    .nav-link:hover {
        background-color: #C4C4C4;
    }

    .btn-outline-custom {
      border: 2px dashed #1F1F1F;
      color: #1F1F1F;
      border-radius: 30px;
      padding: 6px 18px;
      margin-left: 10px;
      font-weight: 500;
    }

    .btn-outline-custom:hover {
      background-color: #1F1F1F;
      color: #FFFFFF;
    }

    .modal-header {
      padding: 10px 30px;
    }

    .modal-footer {
      padding: 0px;
    }

    .hero-section {
      height: 100vh;
      padding-top: 80px; /* offset navbar */
      background-color: #FFFFFF;
    }

    .hero-title {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .hero-title span {
      font-weight: 800;
    }

    .hero-subtitle {
      font-size: 1rem;
      color: #777;
      margin-bottom: 40px;
    }

    .scroll-down {
      font-size: 1.5rem;
      color: #1F1F1F;
      text-decoration: none;
      animation: bounce 2s infinite;
    }

    .scroll-down:hover {
      color: #000;
    }

    /* Arrow animation */
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(8px);
      }
      60% {
        transform: translateY(4px);
      }
    }

    .row img{
      height: 20%;
      width: 20%;
      margin-top: -20px;
      margin-bottom: 25px;
    }

    .row p span {
      font-weight: 600;
      color: #1E93AB;
    }

    section {
      padding: 120px 0;
      min-height: 100vh;
    }

    .section-title {
      font-weight: 700;
      margin-bottom: 20px;
    }

    .section-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }

    .section-header::before,
    .section-header::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #ccc;
    }

    .section-header span {
        padding: 0 20px;
        font-weight: 400;
        font-size: 30px;
        color: #1F1F1F;
    }

    .experience-row {
        margin-bottom: 50px;
    }

    .experience-role h6 {
        font-weight: 400;
        font-size: 23px;
        margin-bottom: 4px;
    }

    .experience-role small {
        display: block;
        color: #777;
    }

    .experience-role hr {
        color: #000;
        margin-top: 8px;
    }

    .experience-desc .border-start {
        color: #000;
    }

    .experience-date {
        font-size: 0.85rem;
        margin-top: -5px;
        color: #555;
    }

    .experience-desc ul {
        padding-left: 18px;
    }

    .experience-desc li {
        margin-bottom: 5px;
        font-size: 0.95rem;
    }

    .project-box {
        background: #ddd;
        height: 220px;
        border-radius: 8px;
    }

    footer {
      border-top: 1px solid #ddd;
      padding: 40px 0;
    }

    .social a {
      color: #1F1F1F;
      text-decoration: none;
      margin: 0 12px;
      font-weight: 500;
    }

    .social a:hover {
      text-decoration: underline;
    }

    .card {
      border-radius: 16px;
      border: 1px solid #ddd;
    }